<router-outlet></router-outlet>
<div  *ngIf='current'>  
    <div class="container" >
        <div class="row" id="image">
            
              <div class="col-lg-4 jumbotron" *ngFor='let products of current'>
                
                <a [routerLink]="['/show-data',products.show.name]"> 
                    <img [src]="products.show.image?.medium" alt="image not found" class="img-responsive">
                 </a>   
               
                <!-- diplay shows -->
                
              </div>
       </div><!-- end of row -->
    </div>  
</div>  






